<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ dayName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ dayName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container" *ngIf="day">
    <section *ngFor="let brotherhood of day.brotherhoods">
      <h1 class="name">{{ brotherhood.name }}</h1>
      <h2 class="church">{{ brotherhood.church }}</h2>
      <p class="description">{{ brotherhood.itinerary }}</p>
      <div class="schedules">
        <div class="schedule">
          <div class="datetime">{{toHM(brotherhood.datetimes.beggining)}}</div>
          <div class="place">Salida</div>
        </div>
        <div class="schedule">
          <div class="datetime">{{toHM(brotherhood.datetimes.tribune)}}</div>
          <div class="place">Tribuna</div>
        </div>
        <div class="schedule">
          <div class="datetime">{{toHM(brotherhood.datetimes.tower)}}</div>
          <div class="place">Torre sur</div>
        </div>
        <div *ngIf="brotherhood.datetimes.cathedral" class="schedule">
          <div class="datetime">{{toHM(brotherhood.datetimes.cathedral)}}</div>
          <div class="place">Catedral</div>
        </div>
        <div class="schedule">
          <div class="datetime">{{toHM(brotherhood.datetimes.finish)}}</div>
          <div class="place">Encierro</div>
        </div>
      </div>
    </section>
  </div>
</ion-content>
