<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre mi</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card style="max-width: 400px">
      <ion-card-header>
        <ion-card-subtitle>José Sánchez</ion-card-subtitle>
        <ion-card-title>Ingeniero de software</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row
          class="ion-align-items-center ion-justify-content-center"
          style="text-align: center"
        >
          <ion-col size="3">
            <a href="https://twitter.com/JoseSaranda">
              <ion-icon name="logo-twitter" size="large"></ion-icon>
            </a>
          </ion-col>
          <ion-col size="3">
            <a href="https://www.linkedin.com/in/josesaranda/">
              <ion-icon name="logo-linkedin" size="large"></ion-icon>
            </a>
          </ion-col>
          <ion-col size="3">
            <a href="https://github.com/josesaranda">
              <ion-icon name="logo-github" size="large"></ion-icon>
            </a>
          </ion-col>
          <ion-col size="3">
            <a href="https://www.youtube.com/c/JoseSanchezAranda">
              <ion-icon name="logo-youtube" size="large"></ion-icon>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card-content>
        Ingeniero de software de vocación y malagueño de corazón. Espero que
        esta app te ayude a disfrutar de la semana santa de Málaga 2022 y si es
        así, te agradeciría enormemente el apoyo si la compartes en redes
        sociales y con tu circulo de amigos. Puedes utilizar el hashtag
        #jCofrade si lo deseas.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
