ion-menu-button {
  color: var(--ion-color-primary);
}

ion-toolbar ion-title {
  color: var(--ion-color-primary);
  @media (prefers-color-scheme: dark) {
    color: var(--ion-color-primary-tint);
  }
}

.container {
  padding: 20px;

  section {
    padding: 10px;
    border-bottom: 1px solid #efefef;
  }

  & h1.name {
    font-size: 26px;
  }

  & h2.church {
    font-size: 20px;
  }

  & p.description {
    font-size: 16px;
  }
}

.schedules {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
